{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Your Bujo</title>
	<h1 class="page-header" align=center>
		<strong>&#10024; Your Bullet Journal &#10024;</strong>
	</h1>
	<h3 align='center'>Hello, what is your name?</h3>
</head>

<body>
	<p align='center'>
		{% if obj.name %}
	  		Hello, {{obj.name}}! Today is going to be a great day! <br>
	  	{% else %}
	  		<form action='home/' method='POST' align=center>
		  	{% csrf_token %}
		  	{{ form }}
		  	<button type="submit" class="btn btn-primary">Submit</button>
		  	</form>
		{% endif %}
	</p>
</body>
</html>
{% endblock %}
