{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Your Bujo</title>
	<h1 style="text-align:center; color:lightblue">&#10024; Your Bullet Journal &#10024;</h1>
	<h2 align='center'>Hello, what is your name?</h2>
</head>

<body>
	<p align='center'>
		{% if name %}
	  		Hello, {{name}}! Today is going to be a great day! <br>
	  	{% else %}
	  		<form action='home/' method='POST' align=center>
		  	{% csrf_token %}
		  	{{ form }}
		  	<input type="submit" value="Submit"> <br>
		  	</form>
		{% endif %}
	</p>
{% endblock %}

	<p align='center'>
		<a href="/home" style="color:violet">Home</a> &nbsp;
		<a href="/profile" style="color:violet">Profile</a> &nbsp;
		<a href="/key" style="color:violet">Key</a> &nbsp;
		<a href="/this_week" style="color:violet">This Week</a> &nbsp;
		<a href="/today" style="color:violet">Today</a>
	</p>
</body>

</html>