{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'lab1.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Today</h1>
  <title>Today</title>
  <h2 align=center>
    <strong>04.12.MON</strong> 
  </h2>

  <table class="table" id="table">
    <thead>
      <tr>
        <th>Type of Item</th>
        <th>Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'today_partial.html' %}
    </tbody>
  </table>
  <p align="center">
    <button type="button" class="btn btn-primary js-create-today" data-url="{% url 'today_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Add Item
    </button>
  </p>

  <div class="modal fade" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}